/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,800');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  box-sizing: border-box;
}
.u-margin-top {
  margin-top: 2rem;
}
.u-margin-right {
  margin-right: 2rem;
}
.u-margin-bottom {
  margin-bottom: 2rem;
}
.u-margin-left {
  margin-left: 2rem;
}
.u-margin-all {
  margin: 2rem;
}
.u-padding-top {
  padding-top: 2rem;
}
.u-padding-right {
  padding-right: 2rem;
}
.u-padding-bottom {
  padding-bottom: 2rem;
}
.u-padding-left {
  padding-left: 2rem;
}
.u-padding-all {
  padding: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
body {
  font-size: 62.5%;
  background-color: #FFF;
  background-image: url("../img/battlescripts-background.png");
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #555;
}
body.no-bg {
  background-image: none;
}
p {
  line-height: 1.1;
}
input[type='text'] {
  color: #555;
  font-family: 'Open Sans', 'Arial', sans-serif;
  border: 1px solid #e7e7e7;
}
.static-content-wrap {
  margin: 0;
  max-width: 70rem ;
  margin: 0 auto;
  background-color: #FFF;
  border-left: 8px solid #28c4f1;
  border-right: 8px solid #e41e2b;
  /*  &.center{
    margin: 0 auto;
  }*/
}
.width-wrapper {
  max-width: 70rem ;
  margin: 0 auto;
}
.hero-image {
  max-width: 550px;
  margin: 2rem 0 0.5rem;
}
.tag-line {
  font-family: 'Inconsolata', monospace;
}
.tag-block {
  margin-top: 2rem;
}
h2 {
  font-size: 1.8rem;
  margin: 0 0 .5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  margin: 0 0 .5rem;
}
.additional-info {
  font-size: .65rem;
  opacity: .8;
  margin-top: .25rem;
}
.footer-spacer {
  min-height: 5rem;
  position: relative;
}
.footer-spacer:after {
  background: linear-gradient(to right, #28c4f1 40%, #ffffff 50%, #e41e2b 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
}
.loading {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.spinner {
  position: relative;
}
.arrow {
  animation: animationFrames linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  width: 50px;
  height: 50px;
}
.arrow.blue polygon {
  fill: #28c4f1;
}
.arrow.red polygon {
  fill: #e41e2b;
}
.opposite {
  transform: rotate(180deg);
}
.loading-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}
.spin-container {
  position: absolute;
  left: 1.752rem;
  top: 2rem;
}
@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) rotate(180deg);
  }
  25% {
    transform: translate(50px, 0px) rotate(180deg);
  }
  35% {
    transform: translate(50px, 0px) rotate(0deg);
  }
  65% {
    transform: translate(0px, 0) rotate(0deg);
  }
  70% {
    transform: translate(0px, 0) rotate(180deg);
  }
  100% {
    transform: translate(0px, 0) rotate(180deg);
  }
}
header {
  padding: .5rem;
  background-color: #FFF;
}
.header-container {
  display: flex;
  background-color: #FFF;
}
.static-header {
  font-size: 1.5rem;
  text-align: center;
}
.bs-icon {
  max-height: 40px;
  margin: 0 1rem 0 0;
}
.bs-nav-icon {
  max-height: 22px;
  margin: 10px 1rem 0 0;
}
.bs-nav-container {
  position: relative;
  cursor: pointer;
}
.bs-nav-container .bs-nav {
  transform: scaleX(0);
  transform-origin: 0;
  transition-delay: .5s;
  transition: .25s;
  font-size: 1.4rem;
  position: absolute;
  left: 90%;
  box-shadow: 6px 9px 14px rgba(0, 0, 0, 0.25);
  top: 0;
  background-color: #FFF;
}
.bs-nav-container .bs-nav li {
  padding: .5rem .75rem;
  transition: .25s;
  border-bottom: 1px solid #e41e2b;
}
.bs-nav-container .bs-nav li:nth-child(even) {
  border-bottom: 1px solid #28c4f1;
}
.bs-nav-container .bs-nav li:hover {
  background-color: #e6e6e6;
}
.bs-nav-container:hover .bs-nav {
  transform: scaleX(1);
  transition-delay: 0s;
}
.screen-title-container {
  font-family: 'Inconsolata', monospace;
}
.screen-title-container .screen-title {
  color: #28c4f1;
  font-size: 2.0rem;
}
.screen-title-container .player-name {
  color: #555;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 1.0rem;
}
.page-actions {
  flex-grow: 99;
  margin-left: 1rem;
  position: relative;
}
.page-action {
  cursor: pointer;
  margin-right: 1rem;
  display: inline-block;
  color: #555;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: 800;
  transition: .25s;
  padding: .25rem .5rem;
  position: relative;
}
.page-action:hover {
  background-color: #e7e7e7;
}
.page-action.primary {
  padding: .5rem 1rem;
}
.page-action.primary:hover {
  background-color: #b91621;
}
.warning-message {
  position: absolute;
  color: #e41e2b;
  padding: .5rem;
  width: 300px;
  z-index: 100;
  background-color: #FFF;
  border: 2px solid #e41e2b;
  display: flex;
  left: 74px;
  top: 42px;
  animation: pulse linear 2s;
  animation-iteration-count: 3;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: bold;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(228, 30, 43, 0.3);
  }
  25% {
    box-shadow: 0 0 10px rgba(228, 30, 43, 0.3), 0 0 20px rgba(228, 30, 43, 0.8);
  }
  45% {
    box-shadow: 0 0 10px rgba(228, 30, 43, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(228, 30, 43, 0.3);
  }
}
.user-actions {
  margin-left: 1rem;
  position: relative;
}
.actions-logged-in {
  display: flex;
  flex-direction: row-reverse;
}
.action-item {
  color: #555;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
  position: relative;
}
.action-item:hover .action-menu {
  transform: scaleY(1);
}
.action-item.has-menu:after {
  content: '';
  background: url('../img/red-arrow-50.png') no-repeat center;
  background-size: contain;
  width: 8px;
  height: 8px;
  transform: rotate(90deg);
  display: inline-block;
}
.user-name {
  font-size: 1.0rem;
  font-weight: 800;
}
.my-players {
  cursor: default;
}
.my-players .pl-player {
  padding: .5rem;
  border-color: #e41e2b;
}
.my-players .pl-player:nth-child(odd) {
  border-color: #28c4f1;
}
.action-menu {
  position: absolute;
  transform: scaleY(0);
  transform-origin: 0 0;
  left: 0;
  transition: .5s;
  background-color: #FFF;
  min-width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #e41e2b;
  border-radius: 3px;
  /*  &:before{
    content: '>';
    color: @BLUE;
    position: absolute;
    top: -5px;
    left: 98%;
  }*/
}
.action-menu-item {
  padding: .5rem;
  border-bottom: 1px solid #ccc;
  font-size: .8rem;
  white-space: nowrap;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: normal;
  transition: .25s;
}
.action-menu-item:hover {
  background-color: #e7e7e7;
}
.bs-hr-container {
  /*  background-color: @LIGHT_THEME_COLOR1;
  width: 100%;
  height: 1.5rem;
  margin: 0 0 1rem 0;
  text-align: center;*/
  width: 100%;
  margin: 0 0 .5rem 0;
  text-align: center;
}
.bs-hr-content-container {
  /*  background-color: @LIGHT_THEME_BACKGROUND_COLOR;
  display: inline-block;
  position: relative;
  padding: 0 3rem;
  height: 1.65rem;
  margin-top: -1px;*/
  display: inline-block;
  position: relative;
  padding: 0px 1rem;
}
.bs-hr-content-container:before {
  content: '';
  background: url('../img/blue-arrow-50.png') no-repeat;
  background-size: contain;
  width: 17px;
  height: 19px;
  display: block;
  position: absolute;
  left: -13px;
  top: 0px;
}
.bs-hr-content-container:after {
  content: '';
  background: url('../img/red-arrow-50.png') no-repeat;
  background-size: contain;
  width: 17px;
  height: 19px;
  display: block;
  position: absolute;
  right: -13px;
  top: 0px;
}
.main-content {
  font-size: 1.2rem;
  padding: 0 2rem 2rem;
}
.inline-code {
  font-family: monospace;
  color: #222222;
  font-weight: bold;
  font-size: 1.1em;
}
.example-container {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  margin: 2rem auto;
}
.example-game {
  display: flex;
  flex-direction: column;
}
.instructions {
  margin-left: 1rem;
  font-size: 1.0rem;
  flex-shrink: 4;
}
.instructions li {
  margin-bottom: .75rem;
}
.player-code {
  width: 100%;
  /*min-height: 245px;*/
  margin-bottom: 2rem;
}
.example-button-row {
  flex-grow: 10;
  margin: .5rem 0 0 0;
  text-align: center;
}
.player-select-container {
  margin-bottom: .5rem;
}
.player-select-container select {
  max-width: 94%;
}
button,
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: 2px;
  background-color: #e7e7e7;
  border: 1px solid #cecece;
  color: #555;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 1.0rem;
  cursor: pointer;
}
button.primary,
.btn.primary {
  background-color: #e41e2b;
  border: 1px solid #b91621;
  color: #ffffff;
}
button.large,
.btn.large {
  font-size: 1.5rem;
  padding: .75rem 1.5rem;
}
button.disabled,
.btn.disabled {
  background-color: #f4f4f4;
  border: 1px solid #e7e7e7;
  color: #b9b9b9;
}
button.disabled:focus,
.btn.disabled:focus {
  outline: none;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 150px;
  background-color: #FFF;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 150px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 #000, 0px 0px 0 #0d0d0d;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #e41e2b;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px rgba(40, 196, 241, 0.3), 0px 0px 2px rgba(64, 203, 243, 0.3);
  border: 0 solid white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #28c4f1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 150px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 #000, 0px 0px 0 #0d0d0d;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #e41e2b;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 2px rgba(40, 196, 241, 0.3), 0px 0px 2px rgba(64, 203, 243, 0.3);
  border: 0 solid white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #28c4f1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 150px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 1px solid #e41e2b;
  border-radius: 10px;
  box-shadow: 0 0 0 #000, 0px 0px 0 #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #FFF;
  border: 1px solid #e41e2b;
  border-radius: 10px;
  box-shadow: 0 0 0 #000, 0px 0px 0 #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2px 2px 2px rgba(40, 196, 241, 0.3), 0px 0px 2px rgba(64, 203, 243, 0.3);
  border: 0 solid white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #28c4f1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
/*input[type=range]::-webkit-slider-thumb{.THUMB_MIXIN();}
input[type=range]::-moz-range-thumb{    .THUMB_MIXIN();}
input[type=range]::-ms-thumb {          .THUMB_MIXIN();}
.THUMB_MIXIN{
  -webkit-appearance: none;
  //border: 1px solid #000000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: @RED;
  cursor: pointer;
  margin-top: -14px; !* You need to specify a margin in Chrome, but in Firefox and IE it is automatic *!
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; !* Add cool effects to your sliders! *!

}*/
label {
  font-size: .65rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: .125rem;
  display: block;
}
/* Oops. This is temp */
.games-container {
  text-align: center;
  margin: 5rem auto;
  width: 70%;
  max-width: 800px;
  min-width: 400px;
}
.games-title {
  font-size: 3.8rem;
  margin: 0 0 2rem;
}
.game-item {
  border: 1px solid #28c4f1;
  padding: 2rem;
  margin: 0 0 4rem 0;
  display: flex;
}
.game-item:nth-child(odd) {
  border-color: #e41e2b;
}
.game-item a {
  /*text-decoration: none;
    color: @LIGHT_THEME_TEXT;*/
  margin-bottom: .25rem;
}
.game-actions-container {
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
}
.game-actions {
  display: flex;
  flex-direction: column;
}
.game-players {
  margin-left: .25rem;
  min-width: 8rem;
}
.game-players .primary-link {
  color: #e41e2b;
  font-size: .8rem;
}
.game-logo {
  border: 1px solid #e7e7e7;
  width: 256px;
  height: 256px;
  margin-right: 25px;
}
.game-title {
  font-size: 2.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.game-footer {
  clear: both;
}
.arena-container {
  display: flex;
  padding: 2rem;
}
.battle-options {
  width: 200px;
}
.battle-arena {
  flex-grow: 4;
  margin: 0 0 0 1rem;
  font-size: .9rem;
  line-height: 1rem;
  border: 1px solid #e7e7e7;
  padding: .5rem;
}
.tab-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.tab-toggle {
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  font-size: .80rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: .25s;
  padding: 0.125rem .25rem;
  margin: 0 .125rem;
  border: 1px solid #28c4f1;
  color: #FFF;
  border-radius: 2px;
  letter-spacing: 1px;
  background-color: #28c4f1;
  /*  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }*/
}
.tab-toggle.collapsed {
  color: #888888;
  font-weight: normal;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #f1f1f1;
}
.tab-toggle.collapsed:hover {
  color: #28c4f1;
  border: 1px solid rgba(40, 196, 241, 0.5);
  font-weight: 800;
  background-color: #FFF;
}
.row {
  margin-bottom: 1rem;
}
.row.makes-the-world-go-round {
  margin-bottom: 3rem;
}
.small-title {
  font-weight: bold;
  font-size: 1.0rem;
  margin: 1rem 0 .5rem 0;
  color: #28c4f1;
  text-transform: uppercase;
}
.pl-player {
  border-bottom: 1px solid #e7e7e7;
  display: block;
  padding: .5rem 0;
  font-size: .8rem;
}
.pl-player:hover {
  color: #e41e2b;
  border-color: #e41e2b;
}
.pl-player:hover:nth-child(odd) {
  border-color: #28c4f1;
  color: #28c4f1;
}
/* FLEXBOX IDE Layout */
/* ================== */
.ide {
  width: 100%;
  height: 100vh;
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #FFF;
}
.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  overflow-x: auto;
}
.panel {
  border: 1px solid #e7e7e7;
  margin: 0.125rem;
  border-radius: 3px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  padding: .5rem;
  font-size: .9rem;
}
.panel.collapsed {
  display: none;
  /*flex-grow: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0;*/
}
.panel-header {
  vertical-align: top;
  margin-bottom: .5rem;
}
.panel-title {
  font-weight: bold;
  font-size: 1rem;
  color: #28c4f1;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: top;
  display: inline-block;
}
.panel-actions-container {
  display: inline-block;
}
.panel-actions-container:hover .panel-actions {
  transform: scaleX(1);
}
.panel-actions-container:hover .panel-action-icon {
  opacity: 1;
}
.panel-actions-container:hover .settings-icon svg {
  transform: rotate(30deg);
}
.panel-actions-container:hover .settings-icon svg path {
  stroke: #555;
  fill: #6f6f6f;
}
.panel-actions-container:hover .settings-icon svg circle {
  stroke: #555;
}
.panel-actions {
  transform: scaleX(0);
  transform-origin: 0;
  display: inline-block;
}
.panel-action-icon {
  display: inline-block;
  margin-right: .25rem;
  cursor: pointer;
  opacity: .25;
  transition: .25s;
}
.panel-action-icon:nth-child(1) {
  transition-delay: .125s;
}
.panel-action-icon:nth-child(2) {
  transition-delay: .25s;
}
.panel-action-icon svg {
  width: 16px;
  height: 16px;
}
.panel-action-icon path {
  fill: #b9b9b9;
  transition: .25s;
}
.panel-action-icon:hover path {
  fill: #555;
}
.panel-action-icon:hover.close path {
  fill: #e41e2b;
}
.panel-action-icon:last-child {
  margin-right: 0;
}
.settings-icon {
  display: inline-block;
  margin-right: .25rem;
  cursor: pointer;
}
.settings-icon svg {
  width: 1rem;
  height: 1rem;
  transition: .25s;
}
.settings-icon path,
.settings-icon circle {
  stroke: #b9b9b9;
  fill: #FFF;
  transition: .25s;
}
.expand-v {
  flex-grow: 1;
  overflow: auto;
}
.footer {
  height: 150px;
  flex-grow: 0;
}
.details {
  background-color: rgba(231, 231, 231, 0.6);
  max-width: 12vw;
  min-width: 160px;
}
.details .wide-input {
  width: 100%;
}
.documentation {
  max-width: 400px;
}
.CodeMirror {
  flex-grow: 1;
}
.status {
  height: 24px;
  line-height: 24px;
  padding-left: 28px;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}
.status.success {
  background: transparent url(../img/success.png) no-repeat left center;
}
.status.error {
  background: transparent url(../img/error.png) no-repeat left center;
}
.console {
  font-family: 'Inconsolata', monospace;
}
.console-action {
  cursor: pointer;
  margin-right: .25rem;
  background-color: #e7e7e7;
  border-radius: 3px;
  padding: .125rem .25rem;
  font-size: .75rem;
}
.entry {
  color: #000000;
  border-bottom: 1px solid #e7e7e7;
  font-size: .8rem;
  padding: .25rem 0;
}
.entry span {
  font-weight: bold;
  font-size: .85em;
  padding: .125rem;
  display: inline-block;
}
.entry span:after {
  content: ' \203a ';
  opacity: .5;
}
.entry.success {
  border-bottom: 1px solid rgba(0, 128, 0, 0.36);
}
.entry.success:before {
  visibility: hidden;
  content: ' ';
  width: 12px;
  display: inline-block;
  padding: 0 .25rem;
}
.entry.error,
.entry.compile_error {
  background-color: rgba(255, 116, 116, 0.64);
}
.entry.error:before,
.entry.compile_error:before {
  content: ' \26A0 ';
  font-weight: bold;
  color: #e41e2b;
  display: inline-block;
  padding: 0 .25rem;
}
.theme-toggle {
  display: flex;
  transition: .35s;
  transition-delay: .15s;
}
.theme-toggle.in-action-menu {
  width: 100%;
  justify-content: center;
}
.theme-toggle.fixed {
  position: fixed;
  top: .5rem;
  left: .5rem ;
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.2), 1rem 0 1rem rgba(228, 30, 43, 0.8);
  z-index: 100;
  background-color: #FFF;
  border: 1px solid #e7e7e7;
  border-radius: 18px;
  padding: .25rem ;
}
.theme-toggle.fixed:hover {
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.8), 1rem 0 1rem rgba(228, 30, 43, 0.8);
}
.theme-toggle.fixed.selected {
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.8), 1rem 0 1rem rgba(228, 30, 43, 0.2);
}
.theme-toggle input {
  vertical-align: middle;
}
.theme-icon {
  width: 22.5px;
  height: 22.5px;
}
.theme-icon path {
  fill: #b9b9b9;
  transition: .5s;
}
.theme-icon.selected.moon > path {
  fill: #28c4f1;
}
.theme-icon.selected.sun > path {
  fill: #e41e2b;
}
.toggle-indicator-container {
  width: 28px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid #e7e7e7;
  background-color: #FFF;
  position: relative;
  margin: 2px 2px;
}
.toggle-indicator-container .checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 28px;
  height: 18px;
  z-index: 1;
  margin: 0;
  cursor: pointer;
}
.toggle-indicator {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #e41e2b;
  position: absolute;
  top: -1px;
  left: 8px;
  transition: .5s;
  transition-delay: .35s;
}
.toggle-indicator.dark {
  left: -1px;
  background-color: #28c4f1;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(40, 196, 241, 0.1);
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.85);
}
.auth-dialog {
  width: 25vw;
  position: absolute;
  left: 40vw;
  top: 25vh;
  background-color: #FFF;
  border-left: 4px solid #28c4f1;
  border-right: 4px solid #e41e2b;
  padding: 2rem;
  font-size: .75rem;
  text-align: center;
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.4), 1rem 0 1rem rgba(228, 30, 43, 0.4);
  transform: translateY(-175%);
  transition: .5s;
}
.loaded .auth-dialog {
  transform: translateY(0);
}
.auth-button {
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  padding: 1rem 2rem;
}
.auth-button:last-child {
  margin-bottom: 0;
}
.modal-row {
  text-align: center;
  margin-bottom: 1rem;
}
.modal-hero {
  width: 80px;
  margin-bottom: 1rem;
}
.arena-player-list {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
}
.arena-player {
  cursor: pointer;
  margin: .25rem;
  padding: .25rem;
  background-color: rgba(40, 196, 241, 0.1);
  overflow: hidden;
  transition: .25s;
  position: relative;
  color: rgba(85, 85, 85, 0.5);
}
.arena-player:before {
  content: ">";
  color: #e41e2b;
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  left: 0px;
  top: -3px;
  font-family: monospace;
  transform: translateX(-40px);
  transition: .5s;
}
.arena-player:nth-child(odd):before {
  color: #28c4f1;
  transform: rotate(180deg) translateX(40px);
  top: -1px;
}
.arena-player:nth-child(odd).selected:before {
  transform: rotate(180deg) translateX(0);
}
.arena-player.selected {
  background-color: rgba(40, 196, 241, 0.2);
  position: relative;
  padding-left: 1.25rem;
  color: #555;
}
.arena-player.selected:before {
  transform: translateX(0);
}
.arena-player.selected.running {
  background-color: rgba(40, 196, 241, 0.5);
}
.wl-count {
  float: right;
  font-style: italic;
  color: #aaa;
  font-size: 80%;
}
.arena-results {
  border: 1px solid #b9b9b9;
  width: 100%;
}
.arena-results td {
  border-bottom: 1px solid #28c4f1;
  border-right: 1px solid #e41e2b;
  padding: 4px 8px;
}
.arena-header {
  background-color: #e7e7e7;
}
.arena-header td,
.arena-header th {
  font-weight: bold;
  border-color: #cecece;
}
.split-container {
  display: flex;
  justify-content: space-between;
}
.split-container .split {
  margin: .25rem;
}
.hidden-spacer {
  visibility: hidden;
}
body.dark-theme {
  background-color: #555;
  color: #eee;
  /* FLEXBOX IDE Layout */
  /* ================== */
}
body.dark-theme input[type='text'],
body.dark-theme textarea,
body.dark-theme select {
  color: #eee;
  background-color: #555;
}
body.dark-theme .static-content-wrap {
  background-color: #555;
}
body.dark-theme .loading {
  background-color: #555;
}
body.dark-theme header {
  background-color: #555;
}
body.dark-theme .header-container {
  background-color: #555;
}
body.dark-theme .bs-nav-container .bs-nav {
  background-color: #555;
}
body.dark-theme .bs-nav-container .bs-nav li:hover {
  background-color: #6f6f6f;
}
body.dark-theme .screen-title-container .screen-title {
  color: #28c4f1;
}
body.dark-theme .screen-title-container .player-name {
  color: #eee;
}
body.dark-theme .page-action {
  color: #eee;
}
body.dark-theme .page-action:hover {
  background-color: #888;
}
body.dark-theme .action-item {
  color: #eee;
}
body.dark-theme .action-menu {
  background-color: #555;
}
body.dark-theme .inline-code {
  color: #bbbbbb;
}
body.dark-theme button,
body.dark-theme .btn {
  background-color: #888;
  border: 1px solid #6f6f6f;
  color: #ffffff;
}
body.dark-theme button.primary,
body.dark-theme .btn.primary {
  background-color: #e41e2b;
  border: 1px solid #b91621;
  color: #ffffff;
}
body.dark-theme button.disabled,
body.dark-theme .btn.disabled {
  background-color: #6f6f6f;
  border: 1px solid #888;
  color: #2e2e2e;
}
body.dark-theme button.disabled:focus,
body.dark-theme .btn.disabled:focus {
  outline: none;
}
body.dark-theme .game-item a {
  color: #eee;
}
body.dark-theme .game-logo {
  border: 1px solid #888;
}
body.dark-theme .battle-arena {
  border: 1px solid #888;
}
body.dark-theme .tab-toggle.collapsed {
  color: #ffffff;
  background-color: #6f6f6f;
}
body.dark-theme .tab-toggle.collapsed:hover {
  background-color: #7b7b7b;
}
body.dark-theme input[type=range] {
  background-color: #555;
}
body.dark-theme .pl-player {
  border-bottom: 1px solid #888;
}
body.dark-theme .console-action {
  background-color: #888;
}
body.dark-theme .ide {
  background-color: #555;
}
body.dark-theme .panel {
  border: 1px solid #888;
}
body.dark-theme .panel-actions-container:hover .settings-icon svg path {
  stroke: #eee;
  fill: #fbfbfb;
}
body.dark-theme .panel-actions-container:hover .settings-icon svg circle {
  stroke: #eee;
}
body.dark-theme .panel-action-icon path {
  fill: #474747;
}
body.dark-theme .panel-action-icon:hover path {
  fill: #bbbbbb;
}
body.dark-theme .panel-action-icon:hover.close path {
  fill: #e41e2b;
}
body.dark-theme .settings-icon path,
body.dark-theme .settings-icon circle {
  stroke: #474747;
  fill: #bbbbbb;
}
body.dark-theme .details {
  background-color: rgba(136, 136, 136, 0.6);
}
body.dark-theme .entry {
  color: #ffffff;
  border-bottom: 1px solid #888;
}
body.dark-theme .theme-toggle.fixed {
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.2), 1rem 0 1rem rgba(228, 30, 43, 0.8);
  background-color: #555;
  border: 1px solid #888;
  border-radius: 18px;
}
body.dark-theme .theme-toggle.fixed:hover {
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.8), 1rem 0 1rem rgba(228, 30, 43, 0.8);
}
body.dark-theme .theme-toggle.fixed.selected {
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.8), 1rem 0 1rem rgba(228, 30, 43, 0.2);
}
body.dark-theme .theme-icon.selected.moon > path {
  fill: #28c4f1;
}
body.dark-theme .theme-icon.selected.sun > path {
  fill: #e41e2b;
}
body.dark-theme .toggle-indicator-container {
  border: 1px solid #888;
  background-color: #555;
}
body.dark-theme .toggle-indicator {
  width: 19px;
  height: 19px;
  background-color: #e41e2b;
  left: 8px;
}
body.dark-theme .toggle-indicator.dark {
  left: -1px;
  background-color: #28c4f1;
}
body.dark-theme .modal-overlay {
  background: rgba(228, 30, 43, 0.1);
  background: rgba(85, 85, 85, 0.85);
}
body.dark-theme .auth-dialog {
  background-color: #555;
  color: #eee;
  box-shadow: -1rem 0 1rem rgba(40, 196, 241, 0.4), 1rem 0 1rem rgba(228, 30, 43, 0.4);
}
body.dark-theme .CodeMirror {
  background-color: #3b3b3b;
  color: #d5d5d5;
}
body.dark-theme .CodeMirror-gutters {
  background-color: #6f6f6f;
}
body.dark-theme .cm-s-default .cm-keyword {
  color: #bd40bd;
}
body.dark-theme .cm-s-default .cm-def {
  color: #7474cc;
}
body.dark-theme .cm-s-default .cm-variable-2 {
  color: #2f76bd;
}
body.dark-theme .markdown-body {
  color: #eee;
}
body.dark-theme .markdown-body .highlight pre,
body.dark-theme .markdown-body pre {
  background-color: #626262;
}
