<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
  <script>var module = {}; // To allow module.exports not to fail</script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,800" rel="stylesheet">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type='text/javascript' src='js/angular.js'></script>
  <script type='text/javascript' src='js/firebase.js'></script>
  <script type='text/javascript' src='js/angularfire.js'></script>
  <script type='text/javascript' src='js/angular-sanitize.js'></script>
  <script type='text/javascript' src='js/battlescripts-app.js'></script>
  <script type='text/javascript' src='js/Match.js'></script>
</head>
<body ng-app="battlescripts" ng-controller="ScreenController">

<script>
  bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", function($scope, $battlescripts, $queryparam, $compile) {
    $scope.game_id = $queryparam.get('game_id');
    $scope.players = [];
    $scope.player_list = [];
    $scope.selected_players = [];
    $scope.game = null;
    $scope.results = null;
    $scope.pause = true;
    $scope.render = true;
    // i and j to iterate through selected players for games
    $scope.i=0;
    $scope.j=1;
    $scope.ready_to_start = false;
    $scope.match_over = false;
    $scope.tournament_over = false;
    $scope.match = null;

    $scope.options = {
      total_games: 10,
      move_delay: 100,
      render_history: false
    };

    $scope.select_all = function() {
      $scope.select_players(true);
    };
    $scope.select_none = function() {
      $scope.select_players(false);
    };
    $scope.select_players = function(toggle) {
      $scope.player_list.forEach((p)=>{
        p.selected=toggle;
      })
    };

    $battlescripts.get_game($scope.game_id).then(
      game => $scope.game = game
    );
    $scope.$watch('game', function() {
      if($scope.game) {
        $battlescripts.init_canvas($scope.game);

        // Initialize the players array
        $scope.players = new Array($scope.game.max_players).fill(null);

        // Retrieve a list of available players for this game
        $battlescripts.search_players({"game_id": $scope.game.$id}).then(
          (players) => {
            $scope.player_list = players;
            $scope.player_list.forEach( (p)=>{
              p.selected=false;
              p.wins=0;
              p.losses=0;
              p.draws=0;
            } );
          }
        );
      }
    });

    $scope.start = function() {
      $scope.tournament_over = false;
      var game = new $battlescripts.Game($scope.game.source);
      $scope.match = new Match(game, [], $scope.options);

      if ($scope.render) {
        $scope.match.subscribe("game.render", $battlescripts.render);
      }
      $scope.match.subscribe("match.results", function(results) {
        $scope.$apply(function() {
          $scope.results = results;
        });
      });
      $scope.match.subscribe("match.end", function(results) {
        // Store the results in the players
        $scope.$apply(function() {
          $scope.players[0].wins += results.player_wins[0];
          $scope.players[0].losses += results.player_wins[1];
          $scope.players[0].draws += results.draws;
          $scope.players[0].running = false;
          $scope.players[1].wins += results.player_wins[1];
          $scope.players[1].losses += results.player_wins[0];
          $scope.players[1].draws += results.draws;
          $scope.players[1].running = false;
          $scope.ready_to_start = false;
          $scope.match_over = true;
          if (!$scope.pause) {
            $scope.next_match();
          }
        });
      });

      $scope.i=null;
      $scope.j=null;

      // Build up a list of selected players
      $scope.selected_players = [];
      $scope.player_list.forEach(p => {
        if (p.selected) {
          $scope.selected_players.push(p);
          p.wins=0;
          p.losses=0;
          p.draws=0;
        }
      });

      $scope.get_next_players();
    };

    $scope.next_match = function() {
      $scope.match_over = false;
      $scope.ready_to_start = true;
      $scope.results = null;
      $scope.get_next_players();
    };

    $scope.get_next_players = function() {
      if ($scope.i===null) {
        $scope.i=0;
        $scope.j=1;
      }
      else {
        $scope.j++;
        if ($scope.j>=$scope.selected_players.length) {
          $scope.i++;
          $scope.j=$scope.i+1;
        }
        if ($scope.j>=$scope.selected_players.length) {
          $scope.ready_to_start = false;
          $scope.end_tournament();
          return;
        }
      }
      $scope.players = [ $scope.selected_players[$scope.i] , $scope.selected_players[$scope.j] ];
      $scope.players[0].running = true;
      $scope.players[1].running = true;

      $scope.ready_to_start = true;
      if (!$scope.pause) {
        $scope.next_game();
      }
    };

    // Start the next game
    $scope.next_game = function() {
      var p1,p2;
      try {
        p1 = new $battlescripts.Player($scope.players[0].source);
      }
      catch (e) {
        p1 = null;
      }
      try {
        p2 = new $battlescripts.Player($scope.players[1].source);
      }
      catch (e) {
        p2 = null;
      }
      $scope.match.players = [ p1 , p2 ];
      $scope.match.start();
    };

    $scope.end_tournament = function() {
      $scope.tournament_over = true;
    };

    $scope.gameRequirementsMet = function(){
      var reqMet = true;
      //angular.forEach($scope.players, function(val) {
      //  if(val=== null){reqMet = false}
      //});
      return reqMet
    }
  }]);
</script>
<header>
  <div class="header-container width-wrapper">
    <a href="/"><img src="img/battlescripts-icon-med.png" class="bs-icon"></a>
    <div class="bs-nav-container">
      <img src="img/nav-icon.png" class="bs-nav-icon">
      <ul class="bs-nav">
        <li><a href="/">Home</a></li>
        <li>Games</li>
        <li>Arena</li>
      </ul>
    </div>
    <div class="screen-title-container">
      <div class="screen-title" ng-show="game">{{game.name}} Tournament!</div>
    </div>
    <div class="page-actions"></div>
    <div class="user-actions">
      <div ng-if="user.displayName">
        <a class="user-name" href="dashboard.html" title="Go To Player Dashboard">{{user.displayName}}</a>
      </div>
      <div class="btn primary" ng-if="!user.displayName">Log In</div>
    </div>
  </div>
</header>

<div class="static-content-wrap width-wrapper">
  <div class="arena-container">
    <div class="battle-options">

      <div class="small-title">Options</div>

      <div class="row">
        <label>Number of games per match</label>
        <input ng-model="options.total_games" size="4">
      </div>
      <div class="row">
        <label>Delay Between Moves: {{options.move_delay}}</label>
        <input type="range" ng-model="options.move_delay" min="0" max="2000">
      </div>
      <div class="row">
        <label><input type="checkbox" ng-model="pause"> Pause Between Matches</label>
      </div>
      <div class="row">
        <label><input type="checkbox" ng-model="render"> Render Games</label>
      </div>

      <div class="row">
        <label>Select Players <a href="#" style="text-decoration:underline;color:#28C4F1;" onclick="return false;" ng-click="select_all()">all</a> <a href="#" style="text-decoration:underline;color:#28C4F1;" onclick="return false;" ng-click="select_none()">none</a></label>
        <div class="arena-player-list" >
          <div class="arena-player" ng-class="{'selected':p.selected,'running':p.running}" ng-click="p.selected=!p.selected" ng-repeat="p in player_list | orderBy:'publishedOn' track by p.$id">
            <div style="font-weight:bold;">{{p.name}}</div>
            <div>{{p.displayName.length > 1 ? p.displayName : "Default Player"}}<span ng-if="p.publishedOn"> ({{p.publishedOn | date:'short'}})</span></div>
          </div>
        </div>
      </div>

      <div class="row makes-the-world-go-round">
        <button class="primary" ng-class="{'disabled':!gameRequirementsMet()}" ng-click="start()">Start</button>
        <div class="additional-info" ng-if="!gameRequirementsMet()">Players Required to Start</div>
      </div>

    </div>
    <div class="battle-arena">
      <div class="split-container">
        <div class="split">
          <div class="row" ng-show="!tournament_over" ng-controller="CanvasController"></div>
          <div class="row" ng-if="ready_to_start || match_over">
            <table class="arena-results" >
              <tr class="arena-header">
                <td>{{players[0].name}}</td>
                <td>vs</td>
                <td>{{players[1].name}}</td>
              </tr>
              <tr>
                <td>WINS</td>
                <td>DRAWS</td>
                <td>WINS</td>
              </tr>
              <tr>
                <td>{{results.player_wins[0]}}</td>
                <td><span class="hidden-spacer">x</span> {{results.draws}}</td>
                <td>{{results.player_wins[1]}}</td>
              </tr>
            </table>
          </div>
          <div class="xrow">
            <button ng-if="ready_to_start" class="primary" ng-click="next_game()">Start</button>
            <button ng-if="match_over" class="primary" ng-click="next_match()">OK</button>
          </div>
        </div>
        <div class="split">
          <div xng-show="tournament_over" class="row">
            <div class="small-title" style="margin-top: 0;">Results</div>
            <table  class="arena-results">
              <thead>
              <tr class="arena-header">
                <td>Player</td>
                <td>Wins</td>
                <td>Losses</td>
                <td>Draws</td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="p in selected_players | orderBy:'wins':true">
                <td>{{p.name}} <span style="font-size:80%;">({{p.displayName}})</span></td>
                <td>{{p.wins}}</td>
                <td>{{p.losses}}</td>
                <td>{{p.draws}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-spacer"></div>
</div>
</body>
</html>

