<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,800" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type='text/javascript' src='js/angular.js'></script>
    <script type='text/javascript' src='js/firebase.js'></script>
    <script type='text/javascript' src='js/angularfire.js'></script>
    <script type='text/javascript' src='js/angular-sanitize.js'></script>
    <script type='text/javascript' src='js/battlescripts-app.js'></script>
    <script type='text/javascript' src='js/Match.js'></script>

    <script type="text/javascript" src="/lib/codemirror-3.20/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror-3.20/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="/lib/codemirror-3.20/lib/codemirror.css" />
    <link rel="stylesheet" href="/lib/codemirror-3.20/theme/mdn-like.css" />
    <script type='text/javascript' src='js/micromarkdown.js'></script>

    <script>
      bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", "$rootScope", function($scope, $battlescripts, $queryparam, $compile, $rootScope) {
        $scope.players=[];
        $scope.games=[];
        $scope.gameNames = {
          '-Kn6geZ8YpA7w5oCoxzo' : 'Tic Tac Toe',
          '-Ko9PwKhkEczoDZGfNRA' : 'Ultimate Tic Tac Toe',
          '-KpRISpNs-mtch-YRbak' : 'Connect 4'
        };

        // Initial Load
        // ------------

        $battlescripts.login().then((user)=>{
          // Get my players
          $battlescripts.get_my_players().then((players)=>{
            $scope.players=players;
            $scope.$apply();
          })
          .catch((err) => $scope.console.log("<span>[Error]</span> Unable to retrieve players: "+err.toString(),"error"))
          // Get my games
          $battlescripts.get_my_games().then((games)=>{
            $scope.games=games;
            $scope.$apply();
          })
          .catch((err) => $scope.console.log("<span>[Error]</span> Unable to retrieve games: "+err.toString(),"error"))
        });

        $scope.logout = function() {
          $battlescripts.logout().then(()=>{
            location.href="/";
          });
        };

      }]);

    </script>
    <style>

        .title {
            font-size:150%;
            font-weight:bold;
        }

    /* FLEXBOX Layout stolen from the web */
    html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    </style>
</head>

<body class="vbox" ng-app="battlescripts" ng-controller="ScreenController">
<header>
  <div class="header-container width-wrapper">
    <a href="/"><img src="img/battlescripts-icon-med.png" class="bs-icon"></a>
    <div class="bs-nav-container">
      <img src="img/nav-icon.png" class="bs-nav-icon">
      <ul class="bs-nav">
        <li><a href="/">Home</a></li>
        <li>Games</li>
        <li>Arena</li>
      </ul>
    </div>
    <div class="screen-title-container">
      <div class="screen-title">{{game.name}}</div>
    </div>
    <div class="page-actions"></div>
    <div ng-if="user" class="user-actions">
      <div ng-if="user.displayName">
        <div class="user-name action-item has-menu">
          <a class="action-text" href="dashboard.html">{{user.displayName}}</a>
          <div class="player-container action-menu">
            <div class="action-menu-item">
              <a class="action-text" href="dashboard.html" title="Go To Player Dashboard">Dashboard</a>
            </div>
            <div class="action-menu-item">
              <div class="theme-toggle in-action-menu" ng-class="{'dark':darkTheme, 'selected':darkTheme}">
                <svg version="1.1" id="Layer_1" x="0px" y="0px" class="theme-icon moon" ng-class="{'selected':darkTheme}" viewBox="0 0 100 100">
                  <path d="M73.849,11.031c-0.024-0.024-0.051-0.045-0.075-0.07c-0.231-0.305-0.504-0.563-0.813-0.758
    c-1.018-0.643-2.358-0.671-3.422,0.042c-1.024,0.689-1.502,1.876-1.351,3.022c0.038,0.281,0.106,0.559,0.223,0.828
    c3.791,14.54,0.002,30.643-11.391,42.035c-11.408,11.41-27.543,15.191-42.1,11.374l-0.007-0.005c-0.204-0.076-0.41-0.129-0.617-0.16
    c-1.441-0.223-2.89,0.588-3.417,2.008c-0.372,1.008-0.194,2.083,0.38,2.899c0.182,0.19,0.351,0.389,0.537,0.577
    c0.044,0.044,0.082,0.091,0.126,0.135c17.102,17.102,44.826,17.102,61.926,0C90.95,55.856,90.95,28.131,73.849,11.031z"></path>
                </svg>
                <div class="toggle-indicator-container">
                  <input class="checkbox" type="checkbox" ng-model="$parent.darkTheme">
                  <div class="toggle-indicator" ng-class="{'dark':darkTheme}"></div>
                </div>
                <svg version="1.1" id="Layer_1" x="0px" y="0px" class="theme-icon sun" ng-class="{'selected':!darkTheme}" viewBox="0 0 100 100">
                  <path d="M94.998,46c-0.906,0-3.994,0-4.9,0c-2.762,0-5,1.791-5,4c0,2.209,2.238,4,5,4c0.906,0,3.994,0,4.9,0
              c2.762,0,5-1.791,5-4C99.998,47.792,97.76,46,94.998,46z M49.999,22.501c-15.251,0-27.5,12.248-27.5,27.5
              c0,15.252,12.248,27.5,27.5,27.5c15.252,0,27.499-12.247,27.499-27.5C77.498,34.749,65.251,22.501,49.999,22.501z M49.999,70.001
              c-11.051,0-20-8.951-20-20c0-11.049,8.949-20.001,20-20.001c11.049,0,20,8.953,20,20.001C69.999,61.05,61.048,70.001,49.999,70.001z
               M14.898,50c0-2.209-2.137-4-4.898-4c-0.922,0-4.08,0-5,0c-2.762,0-5,1.791-5,4c0,2.209,2.238,4,5,4c0.92,0,4.078,0,5,0
              C12.761,54.001,14.898,52.21,14.898,50z M49.999,14.999c2.209,0,4-2.238,4-5c0-0.914,0-4.084,0-5c0-2.762-1.791-5-4-5s-4,2.238-4,5
              c0,0.916,0,4.085,0,5C45.999,12.761,47.79,14.999,49.999,14.999z M49.999,85c-2.209,0-4,2.238-4,5c0,0.914,0,4.084,0,5
              c0,2.762,1.791,5,4,5s4-2.238,4-5c0-0.916,0-4.086,0-5C53.999,87.238,52.208,85,49.999,85z M86.826,18.829
              c1.953-1.951,2.27-4.803,0.707-6.365c-1.563-1.562-4.412-1.244-6.363,0.707c-0.539,0.539-2.961,2.961-3.5,3.5
              c-1.953,1.953-2.27,4.803-0.707,6.363c1.563,1.564,4.412,1.248,6.363-0.705C83.865,21.79,86.289,19.368,86.826,18.829z
               M16.669,77.672c-0.539,0.539-2.961,2.963-3.5,3.5c-1.951,1.951-2.267,4.801-0.707,6.363c1.562,1.563,4.412,1.244,6.363-0.707
              c0.539-0.537,2.963-2.959,3.5-3.498c1.953-1.953,2.27-4.803,0.707-6.365S18.621,75.721,16.669,77.672z M18.83,13.171
              c-1.953-1.951-4.803-2.269-6.365-0.707c-1.563,1.563-1.244,4.412,0.707,6.365c0.539,0.537,2.961,2.961,3.5,3.5
              c1.953,1.951,4.801,2.268,6.363,0.705s1.246-4.41-0.705-6.363C21.791,16.132,19.369,13.71,18.83,13.171z M77.67,83.33
              c0.539,0.539,2.963,2.961,3.502,3.498c1.951,1.951,4.801,2.27,6.363,0.707c1.561-1.563,1.244-4.412-0.707-6.363
              c-0.539-0.537-2.961-2.961-3.5-3.5c-1.951-1.951-4.803-2.27-6.365-0.707S75.719,81.377,77.67,83.33z"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn primary" ng-if="!user.displayName" ng-click="login()">Log In</div>
    </div>
  </div>
</header>

<div class="static-content-wrap width-wrapper">
  <div style="margin: 0 auto; max-width: 30vw;padding: 2rem;">
    <div class="row">
      <button class="primary" ng-click="logout()">Logout</button>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="small-title">User Details:</div>
      <div><label>Name: </label> {{user.displayName}}</div>
      <div><label>Email: </label> {{user.email}}</div>
      <div><label>Provider: </label> {{user.providerData[0].providerId}}</div>
      <div><label>UID: </label> {{user.uid}}</div>
      <div><label>Photo: </label> <img src="{{user.photoURL}}"></div>
    </div>
    <div class="row">
      <div class="small-title">My Players:</div>
      <div ng-repeat="p in players">
        <a class="pl-player" href="player.html?game_id={{p.game_id}}&id={{p.$id}}"><span style="font-weight: bold">{{p.name || 'No Name'}}</span> ({{gameNames[p.game_id] || p.game_id}})</a>
      </div>
    </div>
    <div class="row">
      <div class="small-title">My Games:</div>
      <div ng-repeat="g in games">
        <a class="pl-player" href="dev-game.html?id={{g.$id}}"><span style="font-weight: bold">{{g.name || 'No Name'}}</span></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
