<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>

    <script type="text/javascript" src="/lib/codemirror-5.27.2/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/markdown/markdown.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/css/css.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/htmlmixed/htmlmixed.js"></script>
    <link rel="stylesheet" href="/lib/codemirror-5.27.2/lib/codemirror.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type='text/javascript' src='js/angular.js'></script>
    <script type='text/javascript' src='js/firebase.js'></script>
    <script type='text/javascript' src='js/angularfire.js'></script>
    <script type='text/javascript' src='js/angular-sanitize.js'></script>
    <script type='text/javascript' src='js/battlescripts-app.js'></script>
    <script type='text/javascript' src='js/Match.js'></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script type='text/javascript' src='js/micromarkdown.js'></script>
    <script type='text/javascript' src='js/marked.min.js'></script>
    <link rel="stylesheet" href="/css/github-markdown.css" />
    <script>
      bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$http", "$rootScope", function($scope, $battlescripts, $queryparam, $http, $rootScope) {
        var id = $queryparam.get('id');
        $scope.id=id;
        $scope.game = {};
        $scope.json_status="OK";
        $scope.json_status_class="";

        // Docs
        $scope.doc_game_api = "";
        $http.get('/docs/Game.md').then((response)=>{
          $scope.doc_game_api = response.data;
        });

        // Safely parse the test JSON
        var parse_json = function() {
          try {
            var o = JSON.parse($scope.game.test_json);
            $scope.json_status="OK";
            $scope.json_status_class="success";
            return o;
          }
          catch(e) {
            $scope.json_status=e.toString();
            $scope.json_status_class="error";
            return null;
          }
        };

        // Update the canvas when components change
        $scope.$watchGroup(['game.test_json'], $battlescripts.debounce(function() {
          $battlescripts.render(parse_json() || {});
        },500));
        $scope.$watchGroup(['game.canvas','game.css'], $battlescripts.debounce(function() {
          $battlescripts.init_canvas($scope.game.canvas, $scope.game.css, parse_json() || {});
        },500));

        // Loading an existing game
        if (!!id) {
          $battlescripts.get_game(id).then((game)=>{
            $scope.game = game;
            $battlescripts.init_canvas($scope.game.canvas);
          });
        }
        // New Game
        else {
          $scope.game.test_json = "{}";
          $http.get('/js/game_template.js').then((response)=>{
            $scope.game.source = response.data;
          });
          $http.get('/js/player_template.js').then((response)=>{
            $scope.game.opponent = response.data;
            $scope.game.player_template = response.data;
          });
        }

        $scope.save = function() {
          $battlescripts.save_game($scope.game).then(
            updated_game => $scope.game=updated_game
          )
          .then( () => $scope.console.log("<span>[Save]</span> Successful","success") )
          .then( () => { if($scope.autoplay) { $scope.test(); } })
          .catch( (err) => $scope.console.log("<span>[Save]</span> Error with Save: "+err.toString(),"error") )
        };
        // ctrl+s to save
        $(document).bind('keydown', function(e) {
          if(e.ctrlKey && (e.which == 83)) {
            e.preventDefault();
            if ($scope.game && $scope.game.$id) {
              $scope.save();
            }
            return false;
          }
        });

        $scope.delete = function() {
          if (confirm("Are you sure?")) {
            $battlescripts.delete_game($scope.game).then(()=>{
              window.location.href="/";
            });
          }
        };

        // CONSOLE
        // -------
        $scope.console = {
          log:function(msg,className) {
            var $console = $('#console');
            $console.append(`<div class="entry ${className}">${msg}</div>`);
            $console.prop('scrollTop',9999);
          }
        };
        $rootScope.$on('log/game',function(data,msg) {
          $scope.console.log("<span>[game]</span>"+msg,"game");
        });
        $rootScope.$on('error/game',function(data,msg) {
          $scope.console.log("<span>[game error]</span>"+msg,"error");
        });
        $rootScope.$on('compile/success',function(data,msg) {
          $scope.console.log("<span>[game]</span> Compiled Successfully","success");
        });
      }]);
    </script>
</head>

<body ng-app="battlescripts" ng-controller="ScreenController">
<div ng-show="id && !game" style="height:100%;">Loading...</div>
<div ng-show="!id || game" class="ide">
    <div class="header">
        <a href="dashboard.html">
            <div style="float:right;height:30px;min-width:100px;border:2px solid black;border-radius:10px;padding:0 10px;line-height:28px;font-size:14px;">
                <img src="{{user.photoURL}}" style="max-height:24px;"> {{user.displayName}}
            </div>
        </a>
        <div class="title"><a href="/">BattleScripts</a> / {{game.name}}</div>
    </div>
    <div class="main">
        <div class="panel details">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Details</div>
            <label>Game Name</label>
            <div><input ng-model="game.name"> </div>
            <label>Description</label>
            <div><textarea ng-model="game.description" style="width:90%;height:75px;"></textarea></div>
            <label>Max Players</label>
            <div><input type="number" min="2" ng-model="game.max_players"></div>
            <div>
                <div><button ng-click="save()">Save</button></div>
                <div ng-if="!game.published || game.source!=game.published">Your changes will not be visible to others until you publish your new code!</div>
                <div ng-if="!game.published"><button ng-click="publish()">Save &amp; Publish</button></div>
                <div ng-if="game.published && game.source!=game.published"><button ng-click="publish()">Save &amp; Re-Publish</button></div>
                <div ng-if="game.published"><button ng-click="unpublish()">Unpublish</button></div>
                <div><button ng-click="delete_player()">Delete</button></div>
            </div>

            <div>Game id:<br>{{game.$id}}</div>
        </div>
        <div class="panel source" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Source</div>
            <textarea codemirror ng-model="game.source"></textarea>
            <div class="status {{status_class}}">{{status}}</div>
        </div>
        <div class="panel canvas" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Canvas Template</div>
            <textarea codemirror language="htmlmixed" ng-model="game.canvas"></textarea>
        </div>
        <div class="panel" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Canvas CSS</div>
            <textarea codemirror language="css" ng-model="game.css"></textarea>
        </div>
        <div class="panel" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Canvas Test Data</div>
            <textarea codemirror ng-model="game.test_json"></textarea>
            <div class="status {{json_status_class}}">{{json_status}}</div>
        </div>
        <div class="panel" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Canvas</div>
            <div id="canvas" ng-controller="CanvasController"></div>
        </div>
        <div class="panel collapsed source" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Test Opponent Player</div>
            <textarea codemirror ng-model="game.opponent"></textarea>
        </div>
        <div class="panel collapsed source" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Player Template</div>
            <textarea codemirror ng-model="game.player_template"></textarea>
        </div>
        <div class="panel collapsed source" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Game Documentation</div>
            <textarea codemirror language="markdown" ng-model="game.documentation"></textarea>
        </div>
        <div class="panel collapsed source" style="position:relative;">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Game Documentation Output</div>
            <div class="markdown-body expand-v" ng-bind-html="game.documentation | markdown"></div>
        </div>
        <div class="panel collapsed documentation">
            <div class="title" onclick="$(this.parentNode).toggleClass('collapsed')">Game API</div>
            <div class="markdown-body expand-v" ng-bind-html="doc_game_api | markdown"></div>
        </div>
    </div>
    <div class="panel footer" id="console">
        Console
    </div>
</div>

</body>
</html>

