<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>

    <script type="text/javascript" src="/lib/codemirror-5.27.2/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="/lib/codemirror-5.27.2/lib/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,600" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type='text/javascript' src='js/angular.js'></script>
    <script type='text/javascript' src='js/firebase.js'></script>
    <script type='text/javascript' src='js/angularfire.js'></script>
    <script type='text/javascript' src='js/angular-sanitize.js'></script>
    <script type='text/javascript' src='js/battlescripts-app.js'></script>
    <script type='text/javascript' src='js/Match.js'></script>

    <script type='text/javascript' src='/js/micromarkdown.js'></script>
    <script type='text/javascript' src='/js/marked.min.js'></script>
    <link rel="stylesheet" type="text/css" href="css/github-markdown.css">

    <script>
      bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", "$rootScope", "$http", "$timeout", function($scope, $battlescripts, $queryparam, $compile, $rootScope, $http, $timeout) {
        var id = $queryparam.get('id');
        var game_id = $queryparam.get('game_id');
        $scope.id=id;
        $scope.game_id = game_id;
        $scope.player = {
          game_id:game_id
        };
        $scope.game = null;
        $scope.opponents = [];
        $scope.opponent = null;
        $scope.autoplay = true;
        $scope.user = null;
        $scope.ideView = {
          'details':false,
          'source':false,
          'tester':false,
          'debugger':true,
          'gameDoc':true,
          'playerAPI':true
        };
        // Docs
        $scope.doc_player_api = "";
        $http.get('/docs/Player.md').then((response)=>{
          $scope.doc_player_api = response.data;
        });

        // Initial Load
        // ------------

        // Load game
        $battlescripts.get_game(game_id).then((game)=> {
          $scope.game = game;
          $battlescripts.init_canvas(game.canvas);
        });

        // Load player
        if (!!id) {
          $battlescripts.login().then((user)=>$battlescripts.get_player(id))
            .then( player => {
              $scope.player=player;
              $scope.$apply();
            } )
        }

        // Load opponents
        $battlescripts.search_players({"game_id":game_id})
          .then( (players)=> $scope.opponents = players );

        // View Toggle
        // ------------------
        $scope.toggleView = function(tab) {
          $scope.ideView[tab] = !$scope.ideView[tab];
        };

        // Player Persistence
        // ------------------
        $scope.publish = function() {
          $scope.player.published=$scope.player.source;
          $scope.save();
        };
        $scope.unpublish = function() {
          $scope.player.published=null;
          $scope.save();
        };
        $scope.save = function() {
          $battlescripts.login()
            .then( user => $battlescripts.save_player($scope.player) )
            .then( updated_player => $scope.player=updated_player )
            .then( () => $scope.console.log("<span>[Save]</span> Successful","success") )
            .then( () => { if($scope.autoplay && $scope.opponent) { $scope.test(); } })
            .catch( (err) => $scope.console.log("<span>[Save]</span> Error with Save: "+err.toString(),"error") )
        };
        // ctrl+s to save
        $(document).bind('keydown', function(e) {
          if(e.ctrlKey && (e.which == 83)) {
            e.preventDefault();
            if ($scope.player && $scope.player.$id) {
              $scope.save();
            }
            return false;
          }
        });
        $scope.delete_player = function() {
          if (confirm("Are you sure?")) {
            $battlescripts.login()
              .then( () => $battlescripts.delete_player($scope.player) )
              .then( ()=>{ window.location.href="/"; } )
              .catch( (err) => $scope.console.log("<span>[Save]</span> Error with Delete: "+err.toString(),"error") )
          }
        };

        // Debugging
        // ---------
        $scope.debugger_paused=false;
        $scope.debugger_pause = function(value) {
          var ret = value;
          $scope.$apply(() => {
            if ($scope.debug) {
              $scope.debugger_paused = true;
              ret = new Promise((resolve) => {
                document.getElementById('debugger_continue').onclick = function () {
                  resolve(value);
                };
              });
            }
            else {
              $scope.debugger_paused = false;
            }
          });
          return ret;
        };

        // Editor
        // ------
        $scope.$watch('player.source', function(newValue,oldValue) {
          $scope.compile_check(newValue);
        });
        $scope.compile_check = $battlescripts.debounce(function(src) {
          try {
            var p = new $battlescripts.Player(src);
            $scope.status = "Code compiled successfully";
            $scope.status_class="success";
          }
          catch (e) {
            $scope.status = e.toString();
            $scope.status_class="error";
          }
        },500);

        // Game Runner
        // -----------
        $scope.test = function() {
          // START THE MATCH!!!
          var game = new $battlescripts.Game($scope.game.source);
          try {
            var p1 = new $battlescripts.Player($scope.player.source, {
              "before_move": function (data) {
                // Hook into the debugger panel
                $scope.debugger_data = JSON.stringify(data);
                $scope.debugger_message = "Paused to view the game data the player is receiving";
                $scope.debugger_move = null;
                return $scope.debugger_pause(data);
              },
              "after_move": function (player_move) {
                $scope.debugger_move = player_move;
                $scope.debugger_message = "Paused to view the player's move response";
                return $scope.debugger_pause(player_move);
              }
            });
          }
          catch(e) {
            $scope.console.log("<span>[Compile Error]</span>"+e.toString(), "compile_error");
            return;
          }
          var p2 = new $battlescripts.Player($scope.opponent.source, {prevent_logging:true});
          var players = [ p1, p2 ];

          var match = new Match(game, players,{
            total_games: 1,
            move_delay: 100,
            time_limit: 9999,
            render_history:true
          });

          // Render

          match.subscribe("game.render", function(data) {
            $battlescripts.render(data);
          });
          match.start({});
        };

        // CONSOLE
        // -------
        $scope.console = {
          log:function(msg,className) {
            var $console = $('#console');
            $console.append(`<div class="entry ${className}">${msg}</div>`);
            $console.prop('scrollTop',9999);
          }
        };
        $rootScope.$on('log/player',function(data,msg) {
          $scope.console.log("<span>[player]</span>"+msg,"player");
        });
        $rootScope.$on('error/player',function(data,msg) {
          $scope.console.log("<span>[player error]</span>"+msg,"error");
        });
        $rootScope.$on('compile/success',function(data,msg) {
          $scope.console.log("<span>[player]</span> Compiled Successfully","success");
        });
      }]);

    </script>
</head>

<body class="no-bg" ng-app="battlescripts" ng-controller="ScreenController">
<div ng-show="!game || (id && !player.$id)" style="height:100%;">Loading...</div>
<div ng-show="game && (!id || player.$id)" class="ide">
    <header>
        <img src="img/battlescripts-icon-med.png" class="bs-icon">
        <div class="bs-nav-container">
            <img src="img/nav-icon.png" class="bs-nav-icon">
            <ul class="bs-nav">
                <li><a href="/">Home</a></li>
                <li>Games</li>
                <li>Arena</li>
            </ul>
        </div>
        <div class="screen-title-container">
            <div class="screen-title">{{game.name}}</div>
            <div class="player-name"></div>
        </div>
        <div class="page-actions">
            <button class="primary page-action">Save & Run</button>
            <div class="page-action" ng-click="save()">Save</div>
            <div class="page-action" ng-click="publish()">Save &amp; Publish</div>
        </div>
        <div class="user-actions">
          <div ng-if="user.displayName">
            <div class="user-name">{{user.displayName}}</div>
          </div>
          <div ng-if="!user.displayName">Log In</div>
        </div>
    </header>
    <div class="bs-hr-container">
        <div class="bs-hr-content-container">
            <div class="tab-container">
                <div class="tab-toggle" ng-class="{'collapsed':ideView.details}" ng-click="toggleView('details')">Details</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.source}" ng-click="toggleView('source')">Source</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.tester}" ng-click="toggleView('tester')">Tester</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.debugger}" ng-click="toggleView('debugger')">Debugger</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.gameDoc}" ng-click="toggleView('gameDoc')">Game Documentation</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.playerAPI}" ng-click="toggleView('playerAPI')">Player API Documentation</div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="panel details" ng-class="{'collapsed':ideView.details}">
            <h3 class="panel-title" >Details</h3>

            <label>Game</label>
            <div>{{game.name}}</div>

            <label>Player Name</label>
            <div><input ng-model="player.name"></div>

            <label>Description</label>
            <div><textarea ng-model="player.description" style="width:90%;height:75px;"></textarea></div>


            <div>
                <div ng-if="!player.published || player.source!=player.published">Your changes will not be visible to others until you publish your new code!</div>
                <div ng-if="player.published && player.source!=player.published"><button ng-click="publish()">Save &amp; Re-Publish</button></div>
                <div ng-if="player.published"><button ng-click="unpublish()">Unpublish</button></div>
                <div><button ng-click="delete_player()">Delete</button></div>
            </div>

            <div>Player id:<br>{{player.$id}}</div>
        </div>
        <div class="panel source" style="position:relative;"  ng-class="{'collapsed':ideView.source}">
            <div class="panel-title" >Source</div>
            <textarea codemirror ng-model="player.source"></textarea>
            <div class="status {{status_class}}">{{status}}</div>
        </div>
        <div class="panel test" ng-class="{'collapsed':ideView.tester}">
            <div class="panel-title" >Tester</div>
            <div class="expand-v">
                <div>
                    Test Opponent: <select ng-options="p as p.name for p in opponents track by p.$id" ng-model="opponent"></select>
                    <input type="checkbox" ng-model="autoplay"> Auto play when saved
                </div>
                <div>
                    <button ng-click="test()">Play A Test Game</button>
                </div>
                <div id="canvas" ng-controller="CanvasController" style="box-sizing:content-box;"></div>
            </div>
        </div>
        <div class="panel collapsed debugger" ng-class="{'collapsed':ideView.debugger}">
            <div class="panel-title" >Debugger</div>
            <div>
                <input type="checkbox" ng-model="debug"> Enable Debugging
            </div>
            <div ng-id="debug">
                <div ng-show="debugger_paused">
                    {{debugger_message}}<br>
                    <button id="debugger_continue" ng-click="debugger_continue()">Continue</button>
                </div>
                <div>Game Data:</div>
                <textarea id="debugger_data" ng-model="debugger_data" style="width:90%;height:200px;"></textarea>
                <div>Player Move:</div>
                <textarea id="debugger_move" ng-model="debugger_move" style="width:90%;height:100px;"></textarea>
            </div>
        </div>
        <div class="panel collapsed documentation" ng-class="{'collapsed':ideView.gameDoc}">
            <div class="panel-title" >Game Documentation</div>
            <div class="expand-v markdown-body" ng-bind-html="game.documentation | markdown"></div>
        </div>
        <div class="panel collapsed documentation"  ng-class="{'collapsed':ideView.playerAPI}">
            <div class="panel-title" >Player API Documentation</div>
            <div class="expand-v markdown-body" ng-bind-html="doc_player_api | markdown"></div>
        </div>
    </div>
    <div class="panel footer" id="console">
        Console
    </div>

</body>
</html>
