<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>

    <script type="text/javascript" src="/lib/codemirror-5.27.2/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror-5.27.2/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="/lib/codemirror-5.27.2/lib/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,600" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type='text/javascript' src='js/angular.js'></script>
    <script type='text/javascript' src='js/firebase.js'></script>
    <script type='text/javascript' src='js/angularfire.js'></script>
    <script type='text/javascript' src='js/angular-sanitize.js'></script>
    <script type='text/javascript' src='js/battlescripts-app.js'></script>
    <script type='text/javascript' src='js/Match.js'></script>

    <script type='text/javascript' src='/js/micromarkdown.js'></script>
    <script type='text/javascript' src='/js/marked.min.js'></script>
    <link rel="stylesheet" type="text/css" href="css/github-markdown.css">

    <script>
      bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", "$rootScope", "$http", "$timeout", function($scope, $battlescripts, $queryparam, $compile, $rootScope, $http, $timeout) {
        var id = $queryparam.get('id');
        var game_id = $queryparam.get('game_id');
        $scope.id=id;
        $scope.game_id = game_id;
        $scope.player = {
          game_id:game_id
        };
        $scope.game = null;
        $scope.opponents = [];
        $scope.opponent = null;
        $scope.autoplay = true;
        $scope.play_speed=100;
        $scope.play_order=0;
        $scope.results = null;
        $scope.my_player_list = [];
        $scope.show_message = true;
        $scope.user = null;
        $scope.ideView = {
          'details':false,
          'source':false,
          'tester':false,
          'debugger':true,
          'gameDoc':true,
          'playerAPI':true
        };
        // Docs
        $scope.doc_player_api = "";
        $http.get('/docs/Player.md').then((response)=>{
          $scope.doc_player_api = response.data;
        });

        // Login
        $scope.login = function() {
          $battlescripts.login();
        };

        // Initial Load
        // ------------

        // Load game
        $battlescripts.get_game(game_id).then((game)=> {
          $scope.game = game;
          $battlescripts.init_canvas(game);
          // Load player
          if (!!id) {
            $battlescripts.login().then((user)=>$battlescripts.get_player(id))
              .then( player => {
                  $scope.player = player;
                  $scope.$digest();
                  // Load My Players
                  if ($scope.user) {
                    $battlescripts.get_my_players($scope.game.$id).then(
                      myplayers => $scope.my_player_list = myplayers
                    );
                  }
              })
          }
          else {
              // New player, load default player template
              $scope.player.source = game.player_template;
              // Show the game docs by default
              $scope.ideView.gameDoc = false;
                // Load My Players
                if ($scope.user) {
                  $battlescripts.get_my_players($scope.game.$id).then(
                    myplayers => $scope.my_player_list = myplayers
                  );
                }
              $scope.$digest();
          }

        });

        // Load opponents
        $battlescripts.search_players({"game_id":game_id})
          .then( (players)=> $scope.opponents = players );

        // View Toggle
        // ------------------
        $scope.toggleView = function(tab) {
          $scope.ideView[tab] = !$scope.ideView[tab];
        };

        // Player Persistence
        // ------------------
        $scope.publish = function() {
          $scope.player.published=$scope.player.source;
          $scope.save();
        };
        $scope.unpublish = function() {
          $scope.player.published=null;
          $scope.save();
        };
        $scope.save = function() {
          $battlescripts.login()
            .then( user => $battlescripts.save_player($scope.player) )
            .then( (updated_player) => {
              if (!$scope.player.$id && window.history && window.history.pushState && updated_player.$id) {
                // Update the url so reload works to get to this player
                history.pushState({}, null, location.href+"&id="+updated_player.$id);
              }
              $scope.player=updated_player;
            })
            .then( () => $scope.console.log("<span>[Save]</span> Successful","success") )
            .then( () => { if($scope.autoplay) { $scope.test(); } })
            .catch( (err) => $scope.console.log("<span>[Save]</span> Error with Save: "+err.toString(),"error") )
        };
        // ctrl+s to save
        $(document).bind('keydown', function(e) {
          if(e.ctrlKey && (e.which == 83)) {
            e.preventDefault();
            if ($scope.player && $scope.player.$id) {
              $scope.save();
            }
            return false;
          }
        });
        $scope.delete_player = function() {
          if (confirm("Are you sure?")) {
            $battlescripts.login()
              .then( () => $battlescripts.delete_player($scope.player) )
              .then( ()=>{ window.location.href="/"; } )
              .catch( (err) => $scope.console.log("<span>[Save]</span> Error with Delete: "+err.toString(),"error") )
          }
        };
        // hide publish warning
        $scope.hide_message = function(){
          $scope.show_message = false;
        };

        // Debugging
        // ---------
        $scope.debugger_paused=false;
        $scope.debugger_pause = function(value) {
          var ret = value;
          $scope.$apply(() => {
            if ($scope.debug) {
              $scope.debugger_paused = true;
              ret = new Promise((resolve) => {
                document.getElementById('debugger_continue').onclick = function () {
                  resolve(value);
                };
              });
            }
            else {
              $scope.debugger_paused = false;
            }
          });
          return ret;
        };

        // Editor
        // ------
        $scope.$watch('player.source', function(newValue,oldValue) {
          $scope.compile_check(newValue);
        });
        $scope.compile_check = $battlescripts.debounce(function(src) {
          try {
            var p = new $battlescripts.Player(src);
            $scope.status = "Code compiled successfully";
            $scope.status_class="success";
          }
          catch (e) {
            $scope.status = e.toString();
            $scope.status_class="error";
          }
        },500);

        // Game Runner
        // -----------
        $scope.test = function() {
          // START THE MATCH!!!
          $scope.results=null;
          var game = new $battlescripts.Game($scope.game.source);
          var p1, p2;
          try {
            p1 = new $battlescripts.Player($scope.player.source, {
              "before_move": function (data) {
                // Hook into the debugger panel
                $scope.debugger_data = JSON.stringify(data);
                $scope.debugger_message = "Paused to view the game data the player is receiving";
                $scope.debugger_move = null;
                return $scope.debugger_pause(data);
              },
              "after_move": function (player_move) {
                $scope.debugger_move = player_move;
                $scope.debugger_message = "Paused to view the player's move response";
                return $scope.debugger_pause(player_move);
              }
            });
          }
          catch(e) {
            $scope.console.log("<span>[Compile Error]</span>"+e.toString(), "compile_error");
            return;
          }
          if ($scope.opponent && $scope.opponent.source) {
            p2 = new $battlescripts.Player($scope.opponent.source, {prevent_logging: true});
          }
          else {
            p2 = new $battlescripts.Player($scope.player.source, {prevent_logging: true});
          }
          var players = $scope.play_order==1 ? [p2,p1] : [p1,p2];

          var match = new Match(game, players,{
            total_games: 1,
            move_delay: $scope.play_speed,
            time_limit: 9999,
            render_history:true
          });

          // Render

          match.subscribe("game.render", function(data) {
            $battlescripts.render(data);
          });
          match.subscribe("game.end", function(results) {
            $scope.results = results;
          });

          match.start({});
        };

        // CONSOLE
        // -------
        $scope.console = {
          log:function(msg,className) {
            var $console = $('#console');
            $console.append(`<div class="entry ${className}">${msg}</div>`);
            $console.prop('scrollTop',9999);
          },
          clear:function() {
            $('#console .entry').remove();
          },
          bottom:function(){
            var $console = $('#console');
            $console.prop('scrollTop',9999);
          }
        };
        $rootScope.$on('log/player',function(data,msg) {
          $scope.console.log("<span>[player]</span>"+msg,"player");
        });
        $rootScope.$on('error/player',function(data,msg) {
          $scope.console.log("<span>[player error]</span>"+msg,"error");
        });
        $rootScope.$on('compile/success',function(data,msg) {
          $scope.console.log("<span>[player]</span> Compiled Successfully","success");
        });
      }]);

    </script>
</head>

<body class="no-bg" ng-app="battlescripts" ng-controller="ScreenController" ng-class="{'dark-theme':darkTheme}">
<div ng-show="!game || (id && !player.$id)" class="loading">

    <div class="spinner">
        <span class="loading-message">Loading...</span>
        <div class="spin-container">
            <svg class="arrow blue" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <polygon  points="73.518,13.853 59.891,0 0,50.008 59.891,100 73.518,86.25 29.722,49.856 "/>
            </svg>
        </div>
        <div class="spin-container opposite">
            <svg class="arrow red" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <polygon  points="73.518,13.853 59.891,0 0,50.008 59.891,100 73.518,86.25 29.722,49.856 "/>
            </svg>
        </div>
    </div>
</div>
<div ng-show="game && (!id || player.$id)" class="ide">
    <header>
      <div class="header-container">
        <a href="/"><img src="img/battlescripts-icon-med.png" class="bs-icon"></a>
          <div class="bs-nav-container">
              <img src="img/nav-icon.png" class="bs-nav-icon">
              <ul class="bs-nav bs-list">
                  <li><a href="/">Home</a></li>
                  <li>Games</li>
                  <li>Arena</li>
              </ul>
          </div>
          <div class="screen-title-container">
              <div class="screen-title">{{game.name}}</div>
              <div class="player-name">{{player.name}}</div>
          </div>
          <div class="page-actions">
              <button class="primary page-action" ng-click="save()">Save{{(autoplay?' & Run':'')}}</button>
              <div class="page-action" ng-click="publish()">Save &amp; Publish</div>
              <div class="warning-message" ng-if="!player.published && show_message">
                <div>Your changes will not be visible to others until you publish your new code!</div>
                <button class="primary" style="white-space: nowrap;" ng-click="hide_message()">Got It</button>
              </div>
          </div>
          <div class="user-actions">
            <div class="actions-logged-in" ng-if="user.displayName">
              <div class="user-name action-item has-menu">
                <a class="action-text" href="dashboard.html">{{user.displayName}}</a>
                <div class="player-container action-menu">
                  <div class="action-menu-item">
                    <a class="action-text" href="dashboard.html" title="Go To Player Dashboard">Dashboard</a>
                  </div>
                  <div class="action-menu-item">
                    <div class="theme-toggle in-action-menu" ng-class="{'dark':darkTheme, 'selected':darkTheme}">
                      <svg version="1.1" id="Layer_1" x="0px" y="0px" class="theme-icon moon" ng-class="{'selected':darkTheme}" viewBox="0 0 100 100">
                        <path d="M73.849,11.031c-0.024-0.024-0.051-0.045-0.075-0.07c-0.231-0.305-0.504-0.563-0.813-0.758
    c-1.018-0.643-2.358-0.671-3.422,0.042c-1.024,0.689-1.502,1.876-1.351,3.022c0.038,0.281,0.106,0.559,0.223,0.828
    c3.791,14.54,0.002,30.643-11.391,42.035c-11.408,11.41-27.543,15.191-42.1,11.374l-0.007-0.005c-0.204-0.076-0.41-0.129-0.617-0.16
    c-1.441-0.223-2.89,0.588-3.417,2.008c-0.372,1.008-0.194,2.083,0.38,2.899c0.182,0.19,0.351,0.389,0.537,0.577
    c0.044,0.044,0.082,0.091,0.126,0.135c17.102,17.102,44.826,17.102,61.926,0C90.95,55.856,90.95,28.131,73.849,11.031z"></path>
                      </svg>
                      <div class="toggle-indicator-container">
                        <input class="checkbox" type="checkbox" ng-model="$parent.darkTheme">
                        <div class="toggle-indicator" ng-class="{'dark':darkTheme}"></div>
                      </div>
                      <svg version="1.1" id="Layer_1" x="0px" y="0px" class="theme-icon sun" ng-class="{'selected':!darkTheme}" viewBox="0 0 100 100">
                        <path d="M94.998,46c-0.906,0-3.994,0-4.9,0c-2.762,0-5,1.791-5,4c0,2.209,2.238,4,5,4c0.906,0,3.994,0,4.9,0
              c2.762,0,5-1.791,5-4C99.998,47.792,97.76,46,94.998,46z M49.999,22.501c-15.251,0-27.5,12.248-27.5,27.5
              c0,15.252,12.248,27.5,27.5,27.5c15.252,0,27.499-12.247,27.499-27.5C77.498,34.749,65.251,22.501,49.999,22.501z M49.999,70.001
              c-11.051,0-20-8.951-20-20c0-11.049,8.949-20.001,20-20.001c11.049,0,20,8.953,20,20.001C69.999,61.05,61.048,70.001,49.999,70.001z
               M14.898,50c0-2.209-2.137-4-4.898-4c-0.922,0-4.08,0-5,0c-2.762,0-5,1.791-5,4c0,2.209,2.238,4,5,4c0.92,0,4.078,0,5,0
              C12.761,54.001,14.898,52.21,14.898,50z M49.999,14.999c2.209,0,4-2.238,4-5c0-0.914,0-4.084,0-5c0-2.762-1.791-5-4-5s-4,2.238-4,5
              c0,0.916,0,4.085,0,5C45.999,12.761,47.79,14.999,49.999,14.999z M49.999,85c-2.209,0-4,2.238-4,5c0,0.914,0,4.084,0,5
              c0,2.762,1.791,5,4,5s4-2.238,4-5c0-0.916,0-4.086,0-5C53.999,87.238,52.208,85,49.999,85z M86.826,18.829
              c1.953-1.951,2.27-4.803,0.707-6.365c-1.563-1.562-4.412-1.244-6.363,0.707c-0.539,0.539-2.961,2.961-3.5,3.5
              c-1.953,1.953-2.27,4.803-0.707,6.363c1.563,1.564,4.412,1.248,6.363-0.705C83.865,21.79,86.289,19.368,86.826,18.829z
               M16.669,77.672c-0.539,0.539-2.961,2.963-3.5,3.5c-1.951,1.951-2.267,4.801-0.707,6.363c1.562,1.563,4.412,1.244,6.363-0.707
              c0.539-0.537,2.963-2.959,3.5-3.498c1.953-1.953,2.27-4.803,0.707-6.365S18.621,75.721,16.669,77.672z M18.83,13.171
              c-1.953-1.951-4.803-2.269-6.365-0.707c-1.563,1.563-1.244,4.412,0.707,6.365c0.539,0.537,2.961,2.961,3.5,3.5
              c1.953,1.951,4.801,2.268,6.363,0.705s1.246-4.41-0.705-6.363C21.791,16.132,19.369,13.71,18.83,13.171z M77.67,83.33
              c0.539,0.539,2.963,2.961,3.502,3.498c1.951,1.951,4.801,2.27,6.363,0.707c1.561-1.563,1.244-4.412-0.707-6.363
              c-0.539-0.537-2.961-2.961-3.5-3.5c-1.951-1.951-4.803-2.27-6.365-0.707S75.719,81.377,77.67,83.33z"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my-players action-item has-menu">
                <span class="action-text">My Players</span>
                <div class="player-container action-menu">
                  <a ng-repeat="p in my_player_list" class="pl-player" href="player.html?game_id={{game.$id}}&id={{p.$id}}"><span ng-if="!p.name">(No Name)</span>{{p.name}}</a>
                </div>
              </div>
            </div>
            <div class="btn primary" ng-if="!user.displayName" ng-click="login()">Log In</div>
          </div>
      </div>
    </header>
    <div class="bs-hr-container">
        <div class="bs-hr-content-container">
            <div class="tab-container">
                <div class="tab-toggle" ng-class="{'collapsed':ideView.details}" ng-click="toggleView('details')">Details</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.source}" ng-click="toggleView('source')">Source</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.tester}" ng-click="toggleView('tester')">Tester</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.debugger}" ng-click="toggleView('debugger')">Debugger</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.gameDoc}" ng-click="toggleView('gameDoc')">Game Documentation</div>
                <div class="tab-toggle" ng-class="{'collapsed':ideView.playerAPI}" ng-click="toggleView('playerAPI')">Player API Documentation</div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="panel details" ng-class="{'collapsed':ideView.details}">
            <div class="panel-header">
                <div class="panel-title">Details</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('details')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label>Game</label>
                <div>{{game.name}}</div>
            </div>
            <div class="row">
                <label>Player Name</label>
                <input type="text" class="wide-input" ng-model="player.name">
            </div>
            <div class="row">
                <label>Description</label>
                <textarea class="wide-input" ng-model="player.description" style="height:75px;"></textarea>
            </div>
            <p ng-if="!player.published || player.source!=player.published" class="row">Your changes will not be visible to others until you publish your new code!</p>
            <div class="row">
                <button ng-if="player.published && player.source!=player.published" ng-click="publish()">Save &amp; Re-Publish</button>
            </div>
            <div class="row">
                <button ng-if="player.published" ng-click="unpublish()">Unpublish</button>
            </div>
            <div class="row">
                <button ng-click="delete_player()">Delete</button>
            </div>
            <div class="row">
                Player id:<br>{{player.$id}}
            </div>
        </div>
        <div class="panel source" style="position:relative;"  ng-class="{'collapsed':ideView.source}">
            <div class="panel-header">
                <div class="panel-title">Source</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('source')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <textarea codemirror ng-model="player.source"></textarea>
            <div class="status {{status_class}}">{{status}}</div>
        </div>
        <div class="panel test" ng-class="{'collapsed':ideView.tester}">
            <div class="panel-header">
                <div class="panel-title">Tester</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('tester')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="expand-v">
                <div>
                    <div class="row">
                        Test Opponent: <select ng-options="p as p.name for p in opponents track by p.$id" ng-model="opponent"><option value="">This Player</option></select>
                    </div>
                    <div class="row">
                        My player should go <input type="radio" ng-model="play_order" ng-value="0"> First <input type="radio" ng-model="play_order" ng-value="1"> Second
                    </div>
                    <div class="row">
                        Delay Between Moves: <input type="range" ng-model="play_speed" min="0" max="2000">
                    </div>
                </div>
                <div>
                    <button ng-click="test()">Play A Test Game</button> <input type="checkbox" ng-model="autoplay"> Auto play when saved
                </div>
                <div id="canvas" ng-controller="CanvasController" style="margin-top:10px;box-sizing:content-box;"></div>
                <div ng-if="results" style="font-size:24px;font-weight:bold;">
                    <span ng-if="play_order==results.winner">You WON!</span>
                    <span ng-if="play_order!=results.winner && !results.draw">You LOST</span>
                    <span ng-if="results.draw">DRAW</span>
                </div>
            </div>
        </div>
        <div class="panel collapsed debugger" ng-class="{'collapsed':ideView.debugger}">
            <div class="panel-header">
                <div class="panel-title">Debugger</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('debugger')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="checkbox" ng-model="debug"> Enable Debugging
            </div>
            <div ng-id="debug">
                <div ng-show="debugger_paused">
                    {{debugger_message}}<br>
                    <button id="debugger_continue" ng-click="debugger_continue()">Continue</button>
                </div>
                <div>Game Data:</div>
                <textarea id="debugger_data" ng-model="debugger_data" style="width:90%;height:200px;"></textarea>
                <div>Player Move:</div>
                <textarea id="debugger_move" ng-model="debugger_move" style="width:90%;height:100px;"></textarea>
            </div>
        </div>
        <div class="panel collapsed documentation" ng-class="{'collapsed':ideView.gameDoc}">
            <div class="panel-header">
                <div class="panel-title">Game Documentation</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('gameDoc')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expand-v markdown-body" ng-bind-html="game.documentation | markdown"></div>
        </div>
        <div class="panel collapsed documentation"  ng-class="{'collapsed':ideView.playerAPI}">
            <div class="panel-header">
                <div class="panel-title">Player API Documentation</div>
                <div class="panel-actions-container ">
                    <div class="settings-icon">
                        <svg class="" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<path  stroke-width="2" stroke-miterlimit="10" d="M42.76,25.06c0-1.282-0.141-2.529-0.396-3.733
	l5.918-3.417l-5.482-9.495l-5.936,3.427c-1.844-1.666-4.029-2.958-6.447-3.741V1.267H19.451v6.834
	c-2.42,0.782-4.604,2.074-6.448,3.74L7.07,8.415L1.587,17.91l5.918,3.417c-0.257,1.204-0.398,2.451-0.398,3.733
	c0,1.28,0.142,2.528,0.398,3.731l-5.917,3.416l5.482,9.496l5.932-3.426c1.845,1.666,4.028,2.959,6.449,3.74v6.836h10.965v-6.836
	c2.418-0.781,4.604-2.074,6.449-3.74l5.934,3.426l5.482-9.494l-5.918-3.418C42.619,27.588,42.76,26.34,42.76,25.06z"/>
<circle  stroke-width="2" stroke-miterlimit="10" cx="24.934" cy="25.06" r="6.635"/>
</svg></div>
                    <div class="panel-actions">
                        <div class="panel-action-icon close" ng-click="toggleView('playerAPI')">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <g>
      <path  d="M10,0C4.477,0,0,4.478,0,10c0,5.522,4.477,10,10,10c5.522,0,10-4.478,10-10C19.999,4.478,15.521,0,10,0z
         M12.058,10l3.643,3.642L13.643,15.7L10,12.059L6.357,15.7l-2.058-2.057L7.942,10L4.299,6.358L6.357,4.3L10,7.942L13.643,4.3
        L15.7,6.357L12.058,10z"/>
    </g>
                            </svg>
                        </div>
                        <div class="panel-action-icon">
                            <svg version="1.1" id="Layer_1"x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M9.865,0.001c-5.521,0.074-9.938,4.61-9.864,10.132c0.074,5.52,4.61,9.936,10.131,9.863
      c5.521-0.074,9.937-4.611,9.864-10.132C19.923,4.344,15.386-0.073,9.865,0.001z M9.835,16.084L9.78,16.083
      c-0.851-0.025-1.45-0.651-1.426-1.489c0.024-0.823,0.638-1.421,1.46-1.421l0.049,0.001c0.874,0.025,1.467,0.646,1.442,1.508
      C11.282,15.508,10.677,16.084,9.835,16.084z M13.412,8.986c-0.199,0.284-0.64,0.637-1.193,1.068l-0.61,0.421
      c-0.336,0.261-0.537,0.506-0.613,0.746c-0.06,0.19-0.089,0.24-0.094,0.626L10.9,11.945H8.57l0.006-0.196
      c0.029-0.811,0.049-1.287,0.385-1.681C9.488,9.449,10.65,8.701,10.7,8.669c0.166-0.125,0.306-0.268,0.411-0.42
      c0.245-0.337,0.354-0.603,0.354-0.863c0-0.362-0.107-0.697-0.319-0.995c-0.204-0.288-0.592-0.433-1.153-0.433
      c-0.556,0-0.937,0.176-1.165,0.538C8.592,6.868,8.474,7.259,8.474,7.658v0.1H6.072l0.004-0.104c0.062-1.472,0.587-2.531,1.56-3.149
      c0.612-0.394,1.373-0.593,2.26-0.593c1.162,0,2.143,0.283,2.915,0.839c0.782,0.564,1.18,1.41,1.18,2.512
      C13.991,7.88,13.796,8.459,13.412,8.986z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expand-v markdown-body" ng-bind-html="doc_player_api | markdown"></div>
        </div>
    </div>
    <div class="panel footer"  style="position:relative;padding-top:15px;">
        <span style="position:absolute;top:3px;left:3px">Console: <span class="console-action" ng-click="console.clear()")>clear</span><span class="console-action" ng-click="console.bottom()">bottom</span></span>
      <div id="console" style="height: 120px;overflow: auto;">

      </div>
    </div>
</div>
</body>
</html>
